<html>
<head>
    <link rel="stylesheet" href="/css/styles.css" media="all" charset="utf-8">
    <title>Address Book</title>
</head>
<body>
    <div class="center" id="header">
        <h1>ADDRESS BOOK</h1>
    </div>
    <div class="center" id="wrapper">
        <h1>Your Results</h1>
        {% if matching_contacts is not empty %}
            {% for contact in matching_contacts %}
            <img src="{{ contact.getImagePath }}" alt="{{ contact.getFirstName }}" />
            <h2> {{ contact.getFirstName }} {{ contact.getLastName}} </h2>
            <a href="https://www.google.com/maps/place/{{ address.getStreet }}+{{ address.getCity }}+{{ address.getState }}+{{ address.getZip }}/" target="_blank">{{ address.getStreet }} {{ address.getCity }} {{ address.getState }} {{ address.getZip }}</a>
            <p>Call: <a href="tel:{{ contact.getPhone }}">{{ contact.getPhone }}</a></p><br>
            <p>Email: <a href="mailto:{{ contact.getEmail }}">{{ contact.getEmail }}</a></p><br>
            <a href="https://www.google.com/maps/dir//{{ address.getStreet }}+{{ address.getCity }}+{{ address.getState }}/" target="_blank">Get Directions</a>
            {% endfor %}
        {% else %}
            <h2>No Results!</h2>
        {% endif %}
        <form action='/'>
            <button class="btn" type='submit'>Home</button>
        </form>
    </div>
    <div class="center" id="footer">
        <h5>&copy 2016 Sweeney</h5>
    </div>
</body>
</html>
